.App {
  text-align: center;
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  padding: 14px 20px;
  color: black;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.loading {
  display: flex;
  flex-direction: row;
}

form{
  text-align: center;
}

.header1 {
  padding: 10px;
  text-align: center;
  color: yellow;
  text-shadow: -1px -1px 0 darkblue, 1px -1px darkblue, -1px 1px darkblue, 1px 1px darkblue;
  font-style: oblique;
  font-size: 60px;
  font-family: "Copperplate", fantasy;
}

.header2 {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 rgb(176, 176, 197), 1px -1px darkblue, -1px 1px darkblue, 1px 1px darkblue;
  font-style: oblique;
  font-size: 40px;
  font-family: "Copperplate", fantasy;
}

.button {
  display: flex;
  padding-left: 20%;
  height: 50px;
  justify-content: space-around;
}

.danger {
  color: white;
  background-color: darkred;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.success {
  color: white;
  background-color: darkgreen;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.primary {
  color: white;
  background-color: darkblue;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}